@charset "UTF-8";

@-ms-viewport {
	width:device-width
}

@font-face {
    font-family:'Soin Sans Neue';src:url('../fonts/SoinSansNeue-Hairline.woff2') format('woff2'),url('../fonts/SoinSansNeue-Hairline.woff') format('woff');font-weight:200}
@font-face {
    font-family:'Soin Sans Neue';src:url('../fonts/SoinSansNeue-Italic.woff2') format('woff2'),url('../fonts/SoinSansNeue-Italic.woff') format('woff');font-weight:normal;font-style:italic}
@font-face {
    font-family:'Soin Sans Neue';src:url('../fonts/SoinSansNeue-MediumItalic.woff2') format('woff2'),url('../fonts/SoinSansNeue-MediumItalic.woff') format('woff');font-weight:500;font-style:italic}
@font-face {
    font-family:'Soin Sans Neue';src:url('../fonts/SoinSansNeue-LightItalic.woff2') format('woff2'),url('../fonts/SoinSansNeue-LightItalic.woff') format('woff');font-weight:300;font-style:italic}
@font-face {
    font-family:'Soin Sans Neue';src:url('../fonts/SoinSansNeue-Thin.woff2') format('woff2'),url('../fonts/SoinSansNeue-Thin.woff') format('woff');font-weight:100}
@font-face {
    font-family:'Soin Sans Neue';src:url('../fonts/SoinSansNeue-ExtraLightItalic.woff2') format('woff2'),url('../fonts/SoinSansNeue-ExtraLightItalic.woff') format('woff');font-weight:200;font-style:italic}
@font-face {
    font-family:'Soin Sans Neue';src:url('../fonts/SoinSansNeue-Roman.woff2') format('woff2'),url('../fonts/SoinSansNeue-Roman.woff') format('woff');font-weight:normal}
@font-face {
    font-family:'Soin Sans Neue';src:url('../fonts/SoinSansNeue-ExtraLight.woff2') format('woff2'),url('../fonts/SoinSansNeue-ExtraLight.woff') format('woff');font-weight:200}
@font-face {
    font-family:'Soin Sans Neue';src:url('../fonts/SoinSansNeue-BlackItalic.woff2') format('woff2'),url('../fonts/SoinSansNeue-BlackItalic.woff') format('woff');font-weight:900;font-style:italic}
@font-face {
    font-family:'Soin Sans Neue';src:url('../fonts/SoinSansNeue-Bold.woff2') format('woff2'),url('../fonts/SoinSansNeue-Bold.woff') format('woff');font-weight:bold}
@font-face {
    font-family:'Soin Sans Neue';src:url('../fonts/SoinSansNeue-BoldItalic.woff2') format('woff2'),url('../fonts/SoinSansNeue-BoldItalic.woff') format('woff');font-weight:bold;font-style:italic}
@font-face {
    font-family:'Soin Sans Neue';src:url('../fonts/SoinSansNeue-Medium.woff2') format('woff2'),url('../fonts/SoinSansNeue-Medium.woff') format('woff');font-weight:500}
@font-face {
    font-family:'Soin Sans Neue';src:url('../fonts/SoinSansNeue-Heavy.woff2') format('woff2'),url('../fonts/SoinSansNeue-Heavy.woff') format('woff');font-weight:900}
@font-face {
    font-family:'Soin Sans Neue';src:url('../fonts/SoinSansNeue-Black.woff2') format('woff2'),url('../fonts/SoinSansNeue-Black.woff') format('woff');font-weight:900}
@font-face {
    font-family:'Soin Sans Neue';src:url('../fonts/SoinSansNeue-HairlineItalic.woff2') format('woff2'),url('../fonts/SoinSansNeue-HairlineItalic.woff') format('woff');font-weight:200;font-style:italic}
@font-face {
    font-family:'Soin Sans Neue';src:url('../fonts/SoinSansNeue-ThinItalic.woff2') format('woff2'),url('../fonts/SoinSansNeue-ThinItalic.woff') format('woff');font-weight:100;font-style:italic}
@font-face {
    font-family:'Soin Sans Neue';src:url('../fonts/SoinSansNeue-Light.woff2') format('woff2'),url('../fonts/SoinSansNeue-Light.woff') format('woff');font-weight:300}
@font-face {
    font-family:'Soin Sans Neue';src:url('../fonts/SoinSansNeue-HeavyItalic.woff2') format('woff2'),url('../fonts/SoinSansNeue-HeavyItalic.woff') format('woff');font-weight:900;font-style:italic
}

html, body{
    width:100%;height:100%
}

body{
	margin:0;background:#fff;font-size:13px;color:#505050;font-weight:normal;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;font-family:"Soin Sans Neue", sans-serif;font-style:normal
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family:"Soin Sans Neue", sans-serif;font-weight:700;line-height:1.1;color:inherit
}

a{
    color:#505050}
a:hover,a:focus,a:visited{
    text-decoration:none;outline:none}
a:hover{
    color:#5acebe;text-decoration:none
}

.btn{
    font-size:13px}
.btn-outline{
    background:transparent}
.btn-default, .btn-default:not([href]):not([tabindex]){
    background-color: #0e2949;border-color: #0e2949}
.btn-default:active{
    background-color: #0e2949;border-color: #0e2949}
.btn-default-type{
    padding: 6px 1rem;color:#fff!important;font-weight:500;border-radius:37px}
.btn-default-type:hover{
    color:#fff!important}
.btn-outline{
    background:transparent!important;color:#0e2949!important;font-weight: 500}
.btn-outline:hover{
    color:#0e2949!important
}

.vgap--1x{
	height:.1rem}
.vgap--2x{
	height:.2rem}
.vgap--3x{
	height:.3rem}
.vgap--4x{
	height:.4rem}
.vgap--5x{
	height:.5rem}
.vgap-1x{
	height:1rem}
.vgap-2x{
	height:2rem}
.vgap-3x{
	height:2rem}
.vgap-4x{
	height:4rem}
.vgap-5x{
	height:5rem
}

.hgap--1x{
	display:inline-block;vertical-align:middle;width:.1rem}
.hgap--2x{
	display:inline-block;vertical-align:middle;width:.2rem}
.hgap--3x{
	display:inline-block;vertical-align:middle;width:.3rem}
.hgap--4x{
	display:inline-block;vertical-align:middle;width:.4rem}
.hgap--5x{
	display:inline-block;vertical-align:middle;width:.5rem}
.hgap-1x{
	display:inline-block;vertical-align:middle;width:1rem}
.hgap-2x{
	display:inline-block;vertical-align:middle;width:2rem}
.hgap-3x{
	display:inline-block;vertical-align:middle;width:2rem}
.hgap-4x{
	display:inline-block;vertical-align:middle;width:4rem}
.hgap-5x{
	display:inline-block;vertical-align:middle;width:5rem
}

.pt--1x{
    padding-top:.1rem}
.pt--2x{
    padding-top:.2rem}
.pt--3x{
    padding-top:.3rem}
.pt--4x{
    padding-top:.4rem}
.pt--5x{
    padding-top:.5rem}
.pt-1x{
	padding-top:1rem}
.pt-2x{
	padding-top:2rem}
.pt-3x{
	padding-top:2rem}
.pt-4x{
	padding-top:4rem}
.pt-5x{
	padding-top:5rem
}

.color-ffffff{
    color:#ffffff!important}
.color-505050{
    color:#505050!important}
.color-0e2949{
    color:#0e2949!important}
.color-5acebe{
    color:#5acebe!important}
.color-rgb-80-80-80--69{
    color: rgba(80, 80, 80, 0.69)!important
}

.bg-0e2949{
    background-color:#0e2949!important
}

.border-1-0e2949{
    border:1px solid #0e2949!important
}

.font-weight-500{
    font-weight:500
}

.pull-left{
    float:left}
.pull-right{
    float:right
}

.hidden{
    display:none!important}
.invisible{
    opacity:0!important;filter:opacity(0)
}

.centered{
    margin:auto;width:100%;height:100%;text-align:center}
.centered:before{
    content:'';display:inline-block;height:100%;vertical-align:middle}
.centered .centered-content{
    vertical-align:middle;max-width:98%;display:inline-block;text-align:left!important
}

[data-vertical_center="true"] {
	display: flex;flex-direction: column;justify-content: center
}

.menu--over {
	position:relative}
.menu--over .menu {
	-webkit-transform-origin:50% 0;-moz-transform-origin:50% 0;-ms-transform-origin:50% 0;transform-origin:50% 0;-webkit-transition:all 400ms cubic-bezier(.5,1.34,.5,1.05);-moz-transition:all 400ms cubic-bezier(.5,1.34,.5,1.05);-ms-transition:all 400ms cubic-bezier(.5,1.34,.5,1.05);transition:all 400ms cubic-bezier(.5,1.34,.5,1.05);-webkit-transform:rotateX(-90deg);-moz-transform:rotateX(-90deg);-ms-transform:rotateX(-90deg);transform:rotateX(-90deg);opacity:0;position:absolute;z-index:999}
.menu--over i {
	position:relative;z-index:9;transform:none;-webkit-transform:none;-moz-transform:none;-ms-transform:none;opacity:1}
.menu--over:hover .menu {
    -webkit-transform:rotateX(0deg);-moz-transform:rotateX(0deg);-ms-transform:rotateX(0deg);transform:rotateX(0deg);opacity:1
}
