node_modules/
build/
.idea
.vscode
src/bin/linux
src/bin/windows
heroku-installer

test.js

.DS_Store

src/tmp/core/
src/tmp/hub/

src/templates/production/src/core
src/templates/production/src/hub

src/templates/development/src/core
src/templates/development/src/hub